/BookBlock/nbproject/private/
/MrValdemarFaro/nbproject/private/
/flip like cards/nbproject/private/
/Flip Sponsors/nbproject/private/
/FlipCards/HTML5Application/nbproject/private/
/FlipCard/nbproject/private/